#headLottie {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 6%;
  left: 60%;
}
@media only screen and (max-width: 900px) {
  #headLottie {
    width: 400px;
    height: 400px;
    top: 22%;
    /* left: 50%; */
  }
}
@media screen and (max-width: 760px) {
  #headLottie {
    display: none;
  }
}
